<section class="section columns">
  <div class="column is-half">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>
<div class="column card-container">
  <h1 class="title is-4">Olá, Senhor gerente do banco. Essas são as transações!</h1>
  <ng-template
  ngFor let-transacao [ngForOf]="listarTransacoes"
  >
      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="content-group">
              <div>
                <h2 class="title">{{transacao.nomeCliente}}</h2>
                <h4 class="subtitle">{{transacao.contaCliente}}</h4>
              </div>
              <span>R${{transacao.valorTransacao}}</span>
            </div>
            <div class="btn-group">
              <button class="button is-success" (click)="editar(transacao.id_transferencia)">Editar Transação</button>
              <button class="button is-danger" (click)="excluir(transacao.id_transferencia)">Excluir Transação</button>
            </div>
          </div>
        </div>
      </div>
  </ng-template>
</div>
</section>
