<header>
  <nav class="navbar is-warning">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <h1 class="title is-4 has-text-dark">Banco da BoaVontade</h1>
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-dark" routerLink="/add">
                <span class="icon">
                  <i class="fas fa-wallet"></i>
                </span>
                <span>Adicionar transação</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
